*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: beige;
}

header,
ul{
    display: flex;
}

header{
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-inline: auto;
    max-width: 60rem;
    padding: 1rem;
    background-color: dodgerblue;
}

ul{
    list-style-type: none;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: white;
    position: relative;
}

ul a::after{
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    height: .125rem;
    background-color: white;
    scale: 0;
    transform-origin: center;
    transition: scale 450ms;
}

ul a:hover::after{
    scale: 1;
}